<h1>Properties#index</h1>
<div>
    <% @properties.each do |property| %>
        Street Address: <%= property.street_address %>
        Owner Name: <%= property.owner_name %>
        Owner Mailing Address: <%= property.owner_mailing_address %>
        Owner Full Mailing Address: <%= property.owner_full_mailing_address %>
        City State Zip: <%= property.city_state_zip %>
        Property Full Address: <%= property.property_full_address %>
        Units at Property: <%= property.units_at_property %>
        G Code: <%= property.g_code %>
        Latitude: <%= property.latitude %>
        Longitude: <%= property.longitude %>
    <% end %>
</div>
