<div id="<%= dom_id address %>">
  <p>
    <strong>Property location:</strong>
    <%= address.property_location %>
  </p>

  <p>
    <strong>Municipality:</strong>
    <%= address.municipality %>
  </p>

  <p>
    <strong>State:</strong>
    <%= address.state %>
  </p>

  <p>
    <strong>Zipcode:</strong>
    <%= address.zipcode %>
  </p>

</div>
