<!DOCTYPE html>
<html>
<head>
  <title>FML: North NJ</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= vite_client_tag %>
  <%= vite_react_refresh_tag %>

  <%= vite_stylesheet_tag 'application.scss', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= vite_javascript_tag 'index.tsx' %>
</head>

<body>
<%= yield %>
</body>
</html>
