<!DOCTYPE html>
<html>
  <head>
    <title>Find Your Landlord: NJ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" %>
  </head>

  <body>
    <%= yield %>
    <div id="root"></div>
    <%= javascript_include_tag 'index', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
